<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://taskservice42hgq36hea3a6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>taskservice42hgq36hea3a6.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TaskService42hgq36hea3a6</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TaskService42hgq36hea3a6</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TasksDb" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tasksql42hgq36hea3a6.database.windows.net,1433;Initial Catalog=tasksdb;Persist Security Info=False;User ID=sqlAdministrator;Password=pass@word1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:tasksql42hgq36hea3a6.database.windows.net,1433;Initial Catalog=tasksdb;Persist Security Info=False;User ID=sqlAdministrator;Password=pass@word1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TaskService.Models.TaskContext, TasksAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TasksDb-Web.config Connection String">
      <ParameterValue>Server=tcp:tasksql42hgq36hea3a6.database.windows.net,1433;Initial Catalog=tasksdb;Persist Security Info=False;User ID=sqlAdministrator;Password=pass@word1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>